@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
nav .logo{
    font-size: 1.5rem;
}
nav .links a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    justify-content: center;
    padding: 2px;
    margin-left: 80px;
    font-weight: ;
    
}
nav .links a:hover{
    text-decoration: underline;
}
nav .buttons{
    width: 250px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav .buttons button{
    margin: 0 5px;
    width: 40%;
    height: 5vh;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size:1.1rem ;
    font-weight:700 ;
    color: white;
    background-color: darkblue;
    transition: 0.2s linear;
}
.buttons button:hover{
    color: white;
    background-color: transparent;
    border: 2px solid rgb(7,113,219);
    box-shadow: 0 0 10px 4px white;
}
section{
    width: 110%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 40%;
    text-align: center;
    color: black;
}
.content h1{
    font-size: 28px;
    color: white;
    margin-right: 90px;
    margin-top: -90px;
    font-weight: bold;
    margin-left: -45px;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
}

.Pencarian{
    height: 35px; /* Tinggi input field */
    width: 100px; /* Lebar input field */
    padding: 5px;
    align-items: center;
    border: none;
    border-radius: 15px;
    margin-right: 30px; /* Jarak antara kolom input */
    outline: none;
    margin-top: 35px;
    background-color: darkblue;
    color: whitesmoke;
    font-weight: bold;
}
.Provinsi{
    height: 35px; /* Tinggi input field */
    width: 100px; /* Lebar input field */
    padding: 10px;
    align-items: center;
    border: none;
    border-radius: 20px;
    margin-right: 30px; /* Jarak antara kolom input */
    outline: none;
    margin-top: 35px;
    background-color: whitesmoke
}
.Kota{
    height: 35px; /* Tinggi input field */
    width: 100px; /* Lebar input field */
    padding: 10px;
    align-items: center;
    border: none;
    border-radius: 20px;
    margin-right: 30px; /* Jarak antara kolom input */
    outline: none;
    margin-top: 35px;
    background-color: whitesmoke
}
.Artis{
    height: 35px; /* Tinggi input field */
    width: 80px; /* Lebar input field */
    padding: 10px;
    align-items: center;
    border: none;
    border-radius: 20px;
    margin-right: 30px; /* Jarak antara kolom input */
    outline: none;
    margin-top: 35px;
    background-color: whitesmoke
}
.Tanggal{
    height: 35px; /* Tinggi input field */
    width: 100px; /* Lebar input field */
    padding: 10px;
    align-items: center;
    border: none;
    border-radius: 20px;
    margin-right: 30px; /* Jarak antara kolom input */
    outline: none;
    margin-top: 35px;
    background-color: whitesmoke
}

.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -70px;
}

/*TAMPILAN SEMUA KONSER*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.container{
    background:linear-gradient(deg, blueviolet, lightgreen);
    padding:15px 9%;
    padding-bottom: 50px;
    padding-top: -300px;
    
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
    margin-top: -150px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box img{
    height: 120px;
}

.container .box-container .box h3{
    color:white;
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color:white;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:white;
    color:black;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}


/*Tampilan Footer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 150%;
	margin:auto;
    height: 200%;

}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    width: 115%;
    margin-left: -100px;
    margin-top: 50px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




